@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700&display=swap');

h1, h2,  .h1, .h2 {
font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 900;
line-height: 1.1;
color: inherit;
}

h3, h4, h5, h6,.h3, .h4, .h5, .h6 {
font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 600;
line-height: 1.1;
color: inherit;
text-transform: uppercase;
text-decoration: none;
}

.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
font-size: 15px;
text-align: left;
background-color: #2A7DE1;
border: 1px solid #cccccc;
border: 1px solid rgba(0,0,0,0.15);
border-radius: 0;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
box-shadow: 0 6px 12px rgba(0,0,0,0.175);
-webkit-background-clip: padding-box;
background-clip: padding-box;
}

.dashboard-hero {
background-image: url(https://reports.texas2036.org/static/media/dash-hero-2.daeaab85.png);
background-repeat: no-repeat;
background-size: cover;
background-position: 50%;
width: 100%;
margin: 0;
height: 185px;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
font-size: 48px;
text-align: center;
line-height: 1;
}

body {
font-family: "Montserrat", "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
color: #2d2d2d;
background-color: #fff;
}

code, kbd, pre, samp {
    font-family: "Fira Code",monospace;
    font-size: .9em;
}

.btn-group-xs>.btn, .btn-xs {
padding: 1px 5px;
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
color: #3A4A9F;
line-height: 1.5;
border-radius: 3px;
}

.navbar-inverse {
background-color: #3A4A9F;
border-color: #3A4A9F;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
color: #ffffff;
background-color: #3A4A9F;
}

.dropdown-menu>li>a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: 500;
line-height: 1.42857143;
color: #3A4A9F;
white-space: nowrap;
}

a {
color: #F26852;
font-weight: 500;
text-decoration: none;
}

a:focus, a:hover {
color: #f48674;
text-decoration: underline;
}